<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script language="JavaScript" type="text/javascript">
        var seconds = 6;
        // countdown timer. took 6 because page takes approx 1 sec to load

        var url="{{url_for('main_page')}}";
        // variable for index.html url

        function redirect(){
            if (seconds <=0){

            // redirect to new url after counter down.
                window.location = url;
            } else {
                seconds--;
                document.getElementById("pageInfo").innerHTML="Redirecting to Home Page after "
                + seconds + " seconds."
                setTimeout("redirect()", 1000)
            }
        }
    </script>
</head>


<body onload="redirect()">
<h1>ERROR 404</h1>

<p id="pageInfo"></p>
</body>
</html>