<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin-dashboard-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

</head>
<body>

<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect('{{connectionStr}}');

        socket.on('register_server', function(users) {
            var elem = document.getElementById('users_count');
            var percentage = document.getElementById('register_percentage');
            elem.innerText = users['number'];
            percentage.innerText = users['percentage'];
        });

        socket.on('download_server', function(users) {
            var elem = document.getElementById('downloads-count');
            var percentage = document.getElementById('download-percentage');
            elem.innerText = users['number'];
            percentage.innerText = users['percentage'];
        });

        socket.on('onlineUsers_server', function(number) {
            var elem = document.getElementById('online_users');
            elem.innerText = number['number'];
        });

    });
</script>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/home">Home</a></li>
    <li role="presentation" class="active"><a href="/AdminDashboard">Dashboard</a></li>
    <li role="presentation"><a href="/AdminDashboard/online">Online users</a></li>
    <li role="presentation"><a href="/AdminDashboard/users">Users</a></li>
    <li role="presentation"><a href="/Logout">Logout</a></li>
</ul>


<div class="row">
    <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box bg-warning">
            <div class="icon-box" style="float: left;">
                <img src="https://img.icons8.com/doodle/48/000000/user.png" />
            </div>
            <div class="registered-users-content" style="float: right;">
                <div class="sub-div">
                    <label for="users_count">Registered users: </label>
                    <label id="users_count">{{admin_data[0][0]}}</label>
                </div>
                <div class="sub-div">
                    <label>
                        <label id="register_percentage">{{register_percentage}}</label>% Insrease in one day
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box bg-info">
            <div class="icon-box" style="float: left;">
                <img src="https://img.icons8.com/bubbles/50/000000/download.png"/>
            </div>

            <div class="download-box-content" style="float: right;">
                <div class="sub-div">
                    <label id="downloads-count-text">Downloads: </label>
                    <label id="downloads-count">{{admin_data[0][1]}}</label>
                </div>
                <div class="sub-div">
                    <label><label id="download-percentage">{{download_percentage}}</label>% Insrease in one day</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box bg-success">
            <div class="icon-box" style="float: left;">
                <img src="https://img.icons8.com/doodle/48/000000/online--v1.png"/>
            </div>

            <div class="online-box-content" style="float: right;">
                <label for="online_users">Online users: </label>
                <label id="online_users">{{online}}</label>
            </div>
        </div>
    </div>
</div>

<div>
    <canvas id="lineData"></canvas>
</div>

<script>
    var ctx = document.getElementById("lineData").getContext('2d');
    var labelsD = [];
    {% for elem in chartDataLabel %}
        labelsD.push('{{elem}}');
    {% endfor %}

    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labelsD,
            datasets: [{
                label: "line",
                data: {{chartDataList}},
                tension: 0.2,
                borderColor: ['rgba(200, 99, 132, .7)'],
                borderWidth: 2
            }]
        },
        options: {
            title: {
                display: true,
                text: "Registered users"
            },
            responsive: true
        }
    });
</script>

</body>
</html>