<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{roomname}}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chatroom-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>


</head>
<body>

<script type="text/javascript">

    $(document).ready(function() {
        var room = '{{roomname}}';
        var socket = io.connect("{{connectionStr}}");
        var roomSocket;

        $('#leaveRoomBtn').on('click', function() {
            socket.emit('userLeftRoom_client', {'userid': {{user['id']}}, 'username': '{{user['username']}}'})
        });

        socket.on('userLeftRoom_server', function(arg) {
            $("#messages").append('<center>' + arg['username'] + ' has left.</center>');
        });

        socket.on('connect', function() {
            socket.emit('newUserInRoom_client', {'username': '', 'data': "{{user['username']}} has connected", 'room': room});
        });

        $("#send-btn").on('click', function() {
            var msg = document.getElementById('message-textbox').value;
            document.getElementById('message-textbox').value = '';
            var time = new Date();
            socket.emit('newMsg_client', {'username': '{{user['username']}}', 'data': msg, 'room': room});
        });

        socket.on('reciveMsg_server', function(arg) {
            if (room == arg['room']) {
                if (arg['username'] == "") {
                    $("#messages").append('<center>' + arg['data'] + '</center>');
                } else {
                    var msg = '';
                    var _width = Number(arg['data'].length) * 7.5 + 45;

                    var widthElemStr = _width + 'px';

                    if (_width > 500) {
                        widthElemStr = 'auto';
                    }

                    if (arg['username'] == "{{user['username']}}") {
                        var msg = '<div class="r"><div class="client-side-chat" style="width: ' + widthElemStr + '">' + arg['data'] + '<p style="font-size: 12px; color: black;"> ' + arg['time'] + '</p>' + '</div></div>';
                    } else {
                        var msg = '<div class="l"><div class="server-side-chat" style="width: ' + widthElemStr + '"><p style="font-size: 12px; color: white;">'  + arg['username'] +  '</p>' + arg['data'] + '<p style="font-size: 12px;"> ' + arg['time'] + '</p>' + '</div></div>';
                    }
                    $("#messages").append(msg);
                }

                var height__ = document.getElementById('messages').clientHeight;
                document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;

            }
        });
    });

</script>

   <div class="top-navbar">
       <ul>
           <li id="leaveRoomBtn">
               <a href="/home/chatroomsLobby">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/plasticine/100/000000/logout-rounded-left.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Leave Room
                   </span>
               </a>
           </li>
       </ul>
   </div>

<div class="chat" id="messages">

</div>

<div class="input" style="position: fixed; bottom: 0; margin-bottom: 8px; width: 100%;">
    <div class="message-input-div">
        <input type="text" class="message-input" placeholder="Enter message..." id="message-textbox" name="message-bar">
    </div>
    <div class="send-btn-div">
        <button type="submit" class="send-btn" id="send-btn">
            <span>
                <img src="https://img.icons8.com/color/48/000000/filled-sent.png"
                     style="width: 20px; height: 20px;"/>
            </span>
        </button>
    </div>
</div>


</body>
</html>