<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat rooms</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home-stylesheet.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chatroomsLobby-stylesheet.css')}}">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>


</head>
<body>

   <div class="top-navbar">
       <ul>
           <li>{{firstname}}</li>
           <li>
               <a href="/home">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/clouds/50/000000/home.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Home
                   </span>
               </a>
           </li>

           <li>
               <a href="/home/profile">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/doodle/48/000000/user.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Profile
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/stats">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/flat_round/64/000000/graph.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Stats
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/history">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/nolan/64/order-history.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       History
                   </span>
               </a>
           </li>
           <li>
               <a href="/Logout">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/plasticine/100/000000/logout-rounded-left.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Logout
                   </span>
               </a>
           </li>
           {{admin|safe}}
       </ul>
   </div>

<form method="post">
    <input type="text" class="message-input" style="width: 200px; margin-left: 13px;" placeholder="Room name" name="roomname">
    <button type="submit" class="send-btn" style="border-radius: 25px;" id="joinRoomBtn">GO</button>
</form>

{% for row in rows %}
   <div class="row">
   {% for col in row %}
       {{col|safe}}
   {% endfor %}
   </div>
{% endfor %}



</body>
</html>