<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/history-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

</head>
<body>

    <script type="text/javascript">
    $(document).ready(function() {
        var elem = document.getElementById('chat');

        var len = elem.children.length;
        for (var i = 0; i < len; i++) {

            var _width = Number(elem.children[i].children[0].children[0].innerText.length) * 7.5 + 45;
            var widthElemStr = _width + 'px';

            if (_width > 500) {
                widthElemStr = '500px';
            }

            elem.children[i].children[0].style = "width: " + widthElemStr + ";";
        }
    });
    </script>

   <div class="top-navbar">
       <ul>
           <li>
               <a href="/home">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/clouds/50/000000/home.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Home
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/profile">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/doodle/48/000000/user.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Profile
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/stats">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/flat_round/64/000000/graph.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Stats
                   </span>
               </a>
           </li>
           <li>
               <a href="/Logout">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/plasticine/100/000000/logout-rounded-left.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Logout
                   </span>
               </a>
           </li>
       </ul>
   </div>

   {% if history|length > 0 %}
    <div class="chat" id="chat">
        {% for message in history %}
            {% if message[1] == 'server' %}
            <div class="left">
                <div class="server-side-chat">
                    <p>
                    {{message[0]}}
                    </p>

                    <p style="font-size: 12px; color: white;">
                        {{message[2]}}
                    </p>
                </div>
            </div>
            {% else %}
            <div class="right">
                <div class="client-side-chat">
                    <p>
                    {{message[0]}}
                    </p>

                    <p style="font-size: 12px; color: black;">
                        {{message[2]}}
                    </p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div>
        <center>
            seem's like you don't have message history
        </center>
    </div>
    {% endif %}
</body>
</html>