<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PsychoAi</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">


</head>
<body>
<!--   <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/speechRecognition.js') }}"></script>-->

<!--   <button id="MicOn">RECORD</button>-->
<!---->
<!--   <span id="Textbox">Text</span>-->









	<script type="text/javascript">
	</script>

<div class="wrapper">
    <div class="top-navbar">
       <ul>
           <li>{{firstname}}</li>
           <li>
               <a href="/home/profile">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/doodle/48/000000/user.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Profile
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/stats">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/flat_round/64/000000/graph.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Stats
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/history">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/nolan/64/order-history.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       History
                   </span>
               </a>
           </li>

           <li>
               <a href="/home/chatroomsLobby">
                   <span>
<!--                       <span>-->
<!--                           <img src="https://img.icons8.com/nolan/64/order-history.png"-->
<!--                                style="width: 20px; height: 20px;"/>-->
<!--                       </span>-->
                       Chat rooms
                   </span>
               </a>
           </li>

           <li>
               <a href="/Logout">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/plasticine/100/000000/logout-rounded-left.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Logout
                   </span>
               </a>
           </li>
           {{admin|safe}}
       </ul>
   </div>

    <center>
        <h2>
            {% if emotion %}
            {{response}}
            <br>
            <br>
            the system predicted that you are feeling: {{emotion}}
            <br>
            if not contact the admins
            <br>
            {% endif %}
            {% if quote|length > 0 %}
            {{quote}} {{author}}
            {% endif %}
        </h2>
    </center>

    {% if qes|length > 0 and quote|length == 0%}
    <center>
        {{qes}}
        {{answer|safe}}
    </center>
    {% endif %}
    <center>
        <p><strong>Mic status:</strong> <em id="demo-echo" style="color: red;">Start recording</em>.</p>
    </center>

    <center>
        <div class="spinner-border" role="status" id="loadingBar" style="display: none;">
            <span class="sr-only"></span>
        </div>
    </center>


    <div class="input" style="position: fixed; bottom: 20px; width: 100%;">

        <form method="POST">
            <div class="message-input-div">
                <input type="text" class="message-input" placeholder="Enter message..." id="message-textbox" name="message-bar">
            </div>

            <div class="send-btn-div">
                <button type="submit" class="send-btn" id="send-btn">
                    <span>
                        <img src="https://img.icons8.com/color/48/000000/filled-sent.png"
                             style="width: 20px; height: 20px;"/>
                    </span>
                </button>
            </div>
        </form>

                       <div class="record-btn-div">
                    <button id="start-button" class="send-btn">
            <span>
                <img src="https://img.icons8.com/doodle/48/000000/microphone--v1.png"
                     style="width: 20px; height: 20px;"/>
            </span>
        </button>
        </div>
   </div>

</div>



<script type="text/javascript">
    $('#send-btn').on('click', function() {
        document.getElementById('loadingBar').style = "display: ok; margin-top: 20px; height: 50px; width: 50px;";
    });
	function startListening() {


		var recognition = new (webkitSpeechRecognition || SpeechRecognition)();
		recognition.lang = 'en-US';
		recognition.interimResults = false;
		recognition.maxAlternatives = 1;
		recognition.start();

		[
		 'onaudiostart',
		 'onaudioend',
		 'onend',
		 'onerror',
		 'onnomatch',
		 'onresult',
		 'onsoundstart',
		 'onsoundend',
		 'onspeechend',
		 'onstart'
		].forEach(function(eventName) {
			recognition[eventName] = function(e) {
				console.log(eventName, e);
			};
		});

		document.querySelector('#demo-echo').innerText = 'Listening...';
		document.querySelector('#demo-echo').style = "color: green;";

		recognition.onend = function() {
			document.querySelector('#demo-echo').innerText = 'Start recording';
			document.querySelector('#demo-echo').style = "color: red;";
		};
		recognition.onresult = function() {
			document.querySelector('#message-textbox').value = event.results[0][0].transcript;
		};
	};

	(function() {
		document.querySelector('#start-button').addEventListener('click', startListening);
	})();
</script>









</body>
</html>