<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-stylesheet.css')}}">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!--    <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/loginJs.js') }}"></script>-->
    <script language="JavaScript" type="text/javascript">
        var rgb = [255,0,0];
        var speed = 1;
        function redirect() {
            var elem = document.getElementById("LoginTitle");

            if (rgb[0] == 255 && rgb[1] < 255 && rgb[2] == 0) {
                rgb[1] += speed;
            } else if (rgb[0] > 0 && rgb[1] == 255 && rgb[2] == 0) {
                rgb[0] -= speed;
            } else if (rgb[0] == 0 && rgb[1] == 255 && rgb[2] < 255) {
                rgb[2] += speed;
            } else if (rgb[0] == 0 && rgb[1] > 0 && rgb[2] == 255) {
                rgb[1] -= speed;
            } else if (rgb[0] < 255 && rgb[1] == 0 && rgb[2] == 255) {
                rgb[0] += speed;
            } else if (rgb[0] == 255 && rgb[1] == 0 && rgb[2] >= 0) {
                rgb[2] -= speed;
            }

            elem.style.color = "rgb(" + rgb[0] + "," + rgb[1] + "," + rgb[2] + ")";
            setTimeout("redirect()", 20);
        }
    </script>

</head>
<body onload="redirect()">

{% if error %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Failed to login!</strong>
        {{error}}
    </div>
{% endif %}



<div class="wrapper">
    <div class="back-btn-div">
        <a href="/" class="back-btn-ref">
            <button class="back-btn">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
        </a>
    </div>

    <p>
        <h1 id="LoginTitle">Login</h1>
    </p>

    <div class="input-section">
        <center>
            <form method="POST">
                <table class="login-tbl"  border="0" cellspacing="2">
                    <tr>
                        <td>
                            <input class="input-text" type="text" id="username-text" placeholder="Enter username" name="username-textbox" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input class="input-text" type="password" minlength="5" maxlength="16" id="password-text" placeholder="Enter password" name="password-textbox" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="checkbox" id="checkbox" name="checkbox">
                            <span>Remember me</span>
                        </td>
                    </tr>
                </table>
                <button class="login-btn" id="loginBtn">Login</button>

            </form>
            <p class="registered-qes">Not registered? <a href="SignUp">Sign up</a></p>
        </center>

    </div>
</div>

<p class="mt-5 mb-3 text-muted text-center" style="position: fixed; text-align: center; bottom: 0; width: 100%;">© PsychoAI co. 2019</p>

</body>
</html>