<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainpage-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

</head>
<body background="static/image/background4k.png";>


<div class="main-content">
    <div class="top-navbar">
        <ul>
            <li>
                <a href="/">
                    <span>
                        <span>
                            <img src="https://img.icons8.com/dusk/64/000000/brain.png"
                                 style="width: 20px; height: 20px;"/>
                        </span>
                        PsychoAI
                    </span>
                </a>
            </li>

            <li style="float: right;">
                <a href="#" class="_hover">
                    <span>
                        <span>
                            <img src="https://img.icons8.com/bubbles/50/000000/about.png"
                                 style="width: 20px; height: 20px;"/>
                        </span>
                        About
                    </span>
                </a>
            </li>

            <li style="float: right;">
                <a href="/download" class="_hover">
                    <span>
                        <span>
                            <img src="/static/image/gettheapp.png"
                                 style="width: 20px; height: 20px;"/>
                        </span>
                        Get the app
                    </span>
                </a>
            </li>

        </ul>
    </div>

    <p id="QuoteOfTheDayMarquee">
        <h1 class="marquee"><span>Quote of the day : {{quote_of_the_day}} - {{authorOfTheDay}}</span></h1>
    </p>

    <div class="right">
        <div class="login-buttons">
            <a href="Login">
                <button class="login-btn">
<!--                    <span>-->
<!--                        <img src="https://img.icons8.com/plasticine/100/000000/login-rounded-right.png"-->
<!--                             style="width: 20px; height: 20px;"/>-->
<!--                    </span>-->
                    Login
                </button>
            </a>
            <br>
            <a href="SignUp">
                <button class="signup-btn">
<!--                    <span>-->
<!--                        <img src="https://img.icons8.com/bubbles/50/000000/add-user-male.png"-->
<!--                             style="width: 20px; height: 20px;"/>-->
<!--                    </span>-->
                    Sign up
                </button>
            </a>
        </div>
    </div>



    <div class="left">

        <p id="mainParagraph">
            <strong>What is PsychoAI?</strong> <br>
            It is a Magshimim project, created by: Saleem kheralden, Ayal swead (12th grade) with the guide of the mentors Kfir and Maor.<br>
            PsychoAI is a personal psychologist that helps you to get through hard days and keep you company in the good days.<br>
            you can consider it your AI friend<br>
            Don't forget that this version is still BETA version so the AI might give false results, if you leave a feed back to improve the AI we will be grateful.<br>
            First you need to login or sign up if you're not signed in, when you do so an account will register in the server and you can start you conversations with the AI
            The input it expects for is a short message about how was your day, what do feel today. the AI will try to analysis the data given to it to return a good, decent answer
            it will return ether suggestion for a song, game, activity to do, article to read or a book
        </p>
    </div>

<!--    <img src="static/image/background.jpeg" style="height: ">-->

    <div id="clear"></div>

</div>

<p class="mt-5 mb-3 text-center" style="color: black; position: fixed; text-align: center; bottom: 0; width: 100%;">© PsychoAI co. 2019</p>


</body>
</html>