<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online users dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/home">Home</a></li>
    <li role="presentation"><a href="/AdminDashboard">Dashboard</a></li>
    <li role="presentation" class="active"><a href="/AdminDashboard/online">Online users</a></li>
    <li role="presentation"><a href="/AdminDashboard/users">Users</a></li>
    <li role="presentation"><a href="/Logout">Logout</a></li>
</ul>

<script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect('{{connectionStr}}');

            

            socket.on('newLogin_server', function(arg) {
                $("#connection_tbl").append('<tr id="' + arg['user']['id'] + '"><td>' + arg['user']['id'] + '</td>' +
                    '<td>' + arg['user']['firstname'] + '</td>' +
                    '<td>' + arg['user']['lastname'] + '</td>' +
                    '<td>' + arg['user']['email'] + '</td>' +
                    '<td>' + arg['user']['username'] + '</td>' +
                    '</tr>');
            });

            socket.on('del_user_server', function(arg) {
                var row = document.getElementById(arg['id']);
                row.parentNode.removeChild(row);
            });
        });
</script>

    <table border="1" id="connection_tbl" class="table table-hover">
            <thead>
        <tr>
            <td>
                Id
            </td>

            <td>
                Firstname
            </td>

            <td>
                Lastname
            </td>

            <td>
                Email
            </td>

            <td>
                Username
            </td>

        </tr>
    </thead>
        {% for user in online_users %}
        <tr id="{{user[0]}}">
        {% for elem in user %}
            <td>{{elem}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>

</body>
</html>