<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="top-navbar">
       <ul>
           <li>
               <a href="/home">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/clouds/50/000000/home.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Home
                   </span>
               </a>
           </li>

           <li>
               <a href="/home/history">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/nolan/64/order-history.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       History
                   </span>
               </a>
           </li>

           <li>
               <a href="/home/stats">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/flat_round/64/000000/graph.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Stats
                   </span>
               </a>
           </li>

           <li>
               <a href="/Logout">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/plasticine/100/000000/logout-rounded-left.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Logout
                   </span>
               </a>
           </li>

       </ul>
   </div>

    <table class="table">

        <tr>
            <td>
                <label>
                    <strong>
                        Name:
                    </strong>
                </label>
            <br>
                <span>{{firstname}} {{lastname}}</span>
            </td>
        </tr>

        <tr>
            <td>
                <label>
                    <strong>
                        Username:
                    </strong>
                </label>
                <br>
                <span>{{username}}</span>
            </td>
        </tr>

        <tr>
            <td>
                <label>
                    <strong>
                        Password:
                    </strong>
                </label>
                <br>
                {% if inputText %}
                {{inputText|safe}}
                {% else %}
                <a href="/home/profile?passwordChange=true">change password</a>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <label>
                    <strong>
                        Email:
                    </strong>
                </label>
            <br>
                <span>{{email}}</span>
            </td>
        </tr>

        <tr>
            <td>
                <label>
                    <strong>
                        Hobbies:
                    </strong>
                </label>
                <br>
                {% for elem in hobbies %}
                <span id="hobbies">{{elem}}</span>
                <br>
                {% endfor %}
            </td>
        </tr>

    </table>
</body>
</html>