<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandbox</title>


</head>
<body>

<h1 class="h1" >COOKIES</h1>


<form method="POST">
    <textarea name="str" cols="40" rows="10"></textarea>
    <button type="submit">OK</button>
</form>



<!--{% if array|length > 0 %}-->

<!--{% for elem in array%}-->

<!--{{elem|safe}} {{elem}}-->

<!--{% endfor %}-->

<!--{%endif%}-->

</body>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='JavaScript/loginJs.js') }}"></script>

</html>