<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>

<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Style.css')}}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body data-gr-c-s-loaded="true">

{% if error %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Failed to sign up!</strong>
        {{error}}
    </div>
{% endif %}


<div class="wrapper">

    <div class="back-btn-div">
        <a href="/" class="back-btn-ref">
            <button class="back-btn">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
        </a>
    </div>

    <h1>Sign up</h1>

    <div class="input-section">
        <center>
<form method="POST">

    <table class="signup-tbl"  border="0" cellspacing="2">
        <tr>
<!--            <td>-->
<!--                <label class="register-label" for="firstname-text">Firstname:</label>-->
<!--            </td>-->
            <td style="width:85%">
                <input class="input-text" type="text" id="firstname-text" placeholder="Enter firstname" name="firstname-textbox" required>
            </td>
        </tr>

        <tr>
<!--            <td>-->
<!--                <label class="register-label" for="lastname-text">Lastname:</label>-->
<!--            </td>-->
            <td>
                <input class="input-text" type="text" id="lastname-text" placeholder="Enter lastname" name="lastname-textbox" required>
            </td>
        </tr>

        <tr>
<!--            <td>-->
<!--                <label class="register-label" for="email-text">Email:</label>-->
<!--            </td>-->
            <td>
                <input class="input-text" type="text" id="email-text" placeholder="Enter email" name="email-textbox" required>
            </td>
        </tr>

        <tr>
<!--            <td>-->
<!--                <label class="register-label" for="username-text">Username:</label>-->
<!--            </td>-->
            <td>
                <input class="input-text" type="text" id="username-text" placeholder="Enter username" name="username-textbox" required>
            </td>
        </tr>

        <tr>
<!--            <td>-->
<!--                <label class="register-label" for="password-text">Password:</label>-->
<!--            </td>-->
            <td>
                <input class="input-text" type="password" minlength="5" maxlength="16" id="password-text" placeholder="Enter password" name="password-textbox" required>
            </td>
        </tr>

        <tr>
<!--            <td>-->
<!--                <label class="register-label" for="ver-password-text">Verify password:</label>-->
<!--            </td>-->
            <td>
                <input class="input-text" type="password" minlength="5" maxlength="16" id="ver-password-text" placeholder="Verify password" name="ver-password-textbox" required>
            </td>
        </tr>
    </table>


    <div class="form-group">
      <div class="">
        <center><button class="signup-btn">Sign up</button></center>
      </div>
    </div>

    </form>
            <p class="registered-qes">Already registered? <a href="Login">Sign in</a></p>
        </center>
    </div>

</div>

<p class="mt-5 mb-3 text-muted text-center" style="position: fixed; text-align: center; bottom: 0; width: 100%;">© PsychoAI co. 2019</p>

</body>
</html>