<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stats-stylesheet.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

</head>
<body>

<div class="top-navbar">
       <ul>
           <li>
               <a href="/home">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/clouds/50/000000/home.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Home
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/profile">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/doodle/48/000000/user.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Profile
                   </span>
               </a>
           </li>
           <li>
               <a href="/home/history">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/nolan/64/order-history.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       History
                   </span>
               </a>
           </li>
           <li>
               <a href="/Logout">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/plasticine/100/000000/logout-rounded-left.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Logout
                   </span>
               </a>
           </li>
       </ul>
   </div>

<div class="pieChartWrapper">
    <canvas id="pieChart"></canvas>
</div>
<script type="text/javascript">
//pie
var ctxP = document.getElementById("pieChart").getContext('2d');
var myPieChart = new Chart(ctxP, {
    type: 'pie',
    data: {
        labels: ["Sadness", "Happiness", "Love", "Surprised", "Anger", "Fear"],
        datasets: [{
            data: {{stats_data}},
            backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
            hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]}
        ]
    },
    options: {
        title: {
           display: true,
           text: "Mood through all the time"
        },
        responsive: true
    }
});
</script>


</body>
</html>