<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="/home">Home</a></li>
    <li role="presentation"><a href="/AdminDashboard">Dashboard</a></li>
    <li role="presentation"><a href="/AdminDashboard/online">Online users</a></li>
    <li role="presentation" class="active"><a href="/AdminDashboard/users">Users</a></li>
    <li role="presentation"><a href="/Logout">Logout</a></li>
</ul>

{% if all == "True" %}
<table class="table table-hover" border="1">
    <thead>
        <tr>
            <td>
                Id
            </td>

            <td>
                Firstname
            </td>

            <td>
                Lastname
            </td>

            <td>
                Email
            </td>

            <td>
                Username
            </td>

        </tr>
    </thead>

    {% for user in users_data %}
    <tr>
        {% for data in user %}
        <td>
            {% if loop.index == 1 %}
                <a href="?user={{data}}">{{data}}</a>
            {% else %}
                {{data}}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
{% else %}
<center><span><h1>User {{users_data[0][0]}} data:</h1></span></center>
<div>
    <p>Id: {{users_data[0][0]}}</p>
    <p>Firstname: {{users_data[0][1]}}</p>
    <p>Lastname: {{users_data[0][2]}}</p>
    <p>Email: {{users_data[0][3]}}</p>
    <p>Username: {{users_data[0][4]}}</p>
    <p>Password: {{users_data[0][5]}}</p>
    <p>Hobbies: {{users_data[0][6]}}</p>
    <p>Favorite color: {{users_data[0][7]}}</p>
    <p>Activity when feeling low: {{users_data[0][8]}}</p>
    <p>Admin: {{users_data[0][9]}}</p>
</div>

{% endif %}

</body>
</html>