.info-box {
    display: flex;
    flex-wrap: nowrap;
    margin: 3%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0.5px 0.5px grey;
}

.sub-div {
    width: 100%;
}

.download-box-content,
.registered-users-content,
.online-box-content {
    margin-left: 15px;
}