/*
the .top-navbar elements
*/

ul {
  list-style-type: none;
  position: sticky;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background: -webkit-linear-gradient(left, black, white);
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

li a {
    padding: 7px 8px;
    color: white;
    border-radius: 25px;
}


li a:hover {
    color: black;
    background-color: white;
}

li a:focus {
    text-decoration: None;
    color: white;
}

/*
.chat elements
.server-side-chat : messages from the server
.client-side-chat : messages from the client
*/

.chat {
    height: 80vh;
    width: 98%;

    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 2%;
    margin: 1%;
    overflow-x: hidden;
    overflow-y: auto;
}

.server-side-chat {
    margin-right: 100%;
    margin-top: 9px;
    padding: 6px;
    color: white;
    background-color: black;
    float: left;
    border-radius: 10px 10px 10px 0px;
}

.client-side-chat {
    margin-left: 100%;
    margin-top: 9px;
    padding: 6px;
    color: white;
    background-color: #00cc00;
    float: right;
    border-radius: 10px 10px 0px 10px;
}


/*
.input
*/
.message-input-div {
    float: left;
    width: 85%;
    text-align: center;
}

.send-btn-div,
.record-btn-div {
    float: right;
    width: auto;
    margin-right: 6px;
}

.message-input {
    width: 95%;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 100px;
}

.send-btn {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 50%;
}

.send-btn:hover {
    background-color: #178700;
    opacity: 0.7;
    transition: 0.3s;
}

.message-input:focus,
.send-btn:focus{
    outline: none;
}



