
/*
the .top-navbar elements
*/

ul {
  list-style-type: none;
  position: sticky;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: black;
}

.firstname-header {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 8px;
  text-decoration: none;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

li a {
    padding: 7px 8px;
    color: white;
    border-radius: 25px;
}

li a:hover {
    color: black;
    background-color: white;
}

li a:focus {
    text-decoration: None;
    color: white;
}


/*
.chat elements
.server-side-chat : messages from the server
.client-side-chat : messages from the client
*/

.chat {
    height: 80vh;
    width: 98%;

    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 2%;
    margin: 1%;
    overflow-x: hidden;
    overflow-y: auto;
}

.server-side-chat {
    margin-right: 100%;
    margin-top: 9px;
    padding: 6px;
    color: white;
    background-color: black;
    float: left;
    border-radius: 10px 10px 10px 0px;
}

.client-side-chat {
    margin-left: 100%;
    margin-top: 9px;
    padding: 6px;
    color: white;
    background-color: #00cc00;
    float: right;
    border-radius: 10px 10px 0px 10px;
}