* {
  margin: 0px;
}

/*
the main div it contains .input .content .top-navbar
*/
.wrapper {
  height: 99vh;
}

/*
the .top-navbar elements
*/

ul {
  list-style-type: none;
  position: sticky;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background: -webkit-linear-gradient(left, black, white);
}

.firstname-header {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 8px;
  text-decoration: none;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

li a {
    padding: 7px 8px;
    color: white;
    border-radius: 25px;
}


li a:hover {
    color: black;
    background-color: white;
}

li a:focus {
    text-decoration: None;
    color: white;
}

/*
.input
*/
.message-input-div {
    float: left;
    width: 85%;
    text-align: center;
}

.send-btn-div,
.record-btn-div {
    float: right;
    width: auto;
    margin-right: 6px;
}

.message-input {
    width: 95%;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 100px;
}

.send-btn {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 50%;
}

.send-btn:hover {
    background-color: #178700;
    opacity: 0.7;
    transition: 0.3s;
}

.message-input:focus,
.send-btn:focus{
    outline: none;
}
/*
scrollbar customization
*/