* {
    font-weight: bold;
}

#LoginTitle {
    color: rgb(255,0,0);
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    font-size: xxx-large;
}

.input-section {
    padding: 10px;
}

.back-btn-div {
    margin: 20px 10px;
}

.back-btn-ref {
    color: black;
}

.back-btn-ref:hover {
    color: black;
}

.back-btn-ref:focus {
    outline: None;
}

.back-btn {
    background-color: white;
    border: None;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.login-tbl {
    width: 100%;
    text-align: center;
}

.input-text {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.input-text:focus {
    outline: none;
}

.login-btn {
    margin: 20px;
    background-color: #0095f6;
    color: white;
    padding: 10px 15px;
    border: 1.5px solid transparent;
    border-radius: 10px;
    width: 120px;
    transition: 0.3s;
}

.login-btn:hover {
    width: 200px;
    opacity: 0.95;
    transition: 0.3s;
}

.login-btn:focus {
    outline: none;
}

.registered-qes {
    margin-top: 25px;
}

@media only screen and (max-width: 767px) {
    .input-text {
        width: 100%;
    }
}