body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*
the main content all the body
*/
.main-content {
    width: 100%;
    margin: auto;
}

@-webkit-keyframes scroll {
        0% {
            -webkit-transform: translate(0, 0);
        }
        100% {
            -webkit-transform: translate(-100%, 0);
        }
    }

    .marquee {
        color: white;
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .marquee span {
        display: inline-block;
        padding-left: 100%;
        -webkit-animation:scroll 30s infinite linear;

    }

#mainParagraph {
    padding: 25px;
    background: rgba(240,240,240,0.4);
    border-radius: 25px;
    color: black;
}

/*
the navbar
*/

ul {
  list-style-type: none;
  position: sticky;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  //background: -webkit-linear-gradient(top, orange, white);
  background-color: transparent;
}

/*
the navbar elements
*/

li {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

li a {
    padding: 7px 8px;
    color: white;
    border-radius: 25px;
}

li a:hover {
    text-decoration: None;
    color: white;
}

li a:focus {
    text-decoration: None;
    color: white;
}

._hover:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

/*
login signup buttons
*/

.right {
    width: 50%;
    float: right;
    text-align: center;
}

/*
login button
*/

.login-btn {
    margin-top: 160px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: transparent;
    color: white;
    width: 350px;
    opacity: 0.95;
    transition: 0.3s;
}

.login-btn:focus {
    outline: none;
}

/*
signup button
*/

.signup-btn {
    margin-top: 50px;
    background-color: #fca400;
    color: black;
    padding: 10px 15px;
    border: 1px solid #f5b942;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    transition: 0.3s;

}

.signup-btn:hover {
    background-color: transparent;
    color: white;
    width: 350px;
    opacity: 0.95;
    transition: 0.3s;
}

.signup-btn:focus {
    outline: none;
}

/*
the description
*/

.left {
    padding: 50px;
    width: 50%;
    float: left;
}

#clear {
    clear: both;
}


@media only screen and (max-width: 767px){
    #quoteOfTheDay {
        display: none;
    }

    .login-btn {
        margin-top: 0px;
    }

    .right,
    .left {
        width: 100%;
    }
}
