table {
    margin: 8px;
}

ul {
  list-style-type: none;
  position: sticky;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: black;
}

.firstname-header {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 8px;
  text-decoration: none;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

li a {
    padding: 7px 8px;
    color: white;
    border-radius: 25px;
}

li a:hover {
    color: black;
    background-color: white;
}

li a:focus {
    text-decoration: None;
    color: white;
}

.send-btn {
    margin-top: 8px;
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

.send-btn:hover {
    background-color: #e6e6e6;
    opacity: 0.7;
    transition: 0.3s;
}

.message-input {
    margin-top: 8px;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 100px;
}
