.input-section {
    padding: 10px;
}

.back-btn-div {
    margin: 20px 10px;
}

.back-btn-ref {
    color: black;
}

.back-btn-ref:hover {
    color: black;
}

.back-btn-ref:focus {
    outline: None;
}

.back-btn {
    background-color: white;
    border: None;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.registered-qes {
    margin-top: 25px;
}

.signup-tbl {
    width: 100%;
    text-align: center;
}

.input-text {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.signup-btn {
    margin: 20px;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 120px;
}

.signup-btn:hover {
    background-color: black;
    color: white;
    opacity: 0.95;
    transition: 0.3s;
}

.signup-btn:focus {
    outline: none;
}

@media only screen and (max-width: 767px) {
    .input-text {
        width: 100%;
    }
}