/*
the .top-navbar elements
*/

ul {
  list-style-type: none;
  position: sticky;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: black;
}

.firstname-header {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 8px;
  text-decoration: none;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  float: left;
}

li a {
    padding: 7px 8px;
    color: white;
    border-radius: 25px;
}


li a:hover {
    color: black;
    background-color: white;
}

li a:focus {
    text-decoration: None;
    color: white;
}

.pieChartWrapper {
    width: 50%;
}

@media only screen and (max-width: 1190px){
    .pieChartWrapper {
        width: 75%;
    }
}

@media only screen and (max-width: 800px){
    .pieChartWrapper {
        width: 100%;
    }
}


