.wrapper {
    width: 100%;
}

.img-Logo {
    display: none;
}

.PsychoAI-info {
    width: 100%;
}

.PsychoAI-info h2 {
    padding: 30px 30px 20px;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.PsychoAI-info p {
    padding: 0px 30px 20px;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.list-item-text {
    padding: 0px 30px 20px;
    font-size: 20px;
    font-family: arial;
    color: #111;
    line-height: 24px;
}

.My-List {
    font-size: 200%;
}

.css-img {
    padding: 20px;
    width: 85%;
}

.header {
    padding: 8px;
}

.input-section {
    padding: 10px;
}

.registered-qes {
    color: #737373;
}

.login-btn {
    padding: 10px 15px;
    margin: 12px;
    text-align: center;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #e6e6e6;
    opacity: 0.7;
    transition: 0.3s;
}

.input-text-register {
    padding: 10px 15px;
    margin: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 85%;
}

.register-label {
    margin-top: 12px;
}

.register-big-div {
    margin: 5px;
    width: 95%;
}


@media only screen and (min-width: 767px){
    #Logo-Img {
        display: block;
        width: 500px;
        padding-bottom: 30px;
    }

    .wrapper {
        width: 85%;
        margin: 0 auto;
    }

    .PsychoAI-info h2 {
        padding: 20px 0px 0px;
    }

    .PsychoAI-info p {
        padding: 20px 0px 0px;
    }

    .css-img {
        padding-top: 30px;
    }
}



@media only screen and (min-width: 1000px){
    #Logo-Img {
        width: 500px;
    }

    .wrapper {
        width: 100%;
    }

    .PsychoAI-info h2 {
        padding: 20px 0px 0px 30px;
    }

    .PsychoAI-info p {
        padding: 20px 0px 0px 30px;
    }

    .PsychoAI-info {
        width: 50%;
        float: right;
    }

    .css-img {
        padding-top: 0px;
        width: 50%;
        float: left;
    }
}