* {
    margin: 8px;
}

body {
    display: grid;
}

.header {

}


.grid {
    display: grid;
    grid: auto / auto;
}

.server-side-chat {
    padding: 6px;
    color: white;
    background-color: #333;
    float: left;
    border-radius: 10px 10px 10px 0px;
}

.client-side-chat {
    padding: 6px;
    color: white;
    background-color: #00cc00;
    float: right;
    border-radius: 10px 10px 0px 10px;
}


.chat-container {


    height: 77vh;
}

.chat-panel {
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    float: left;
    width: 95%;
    height: 89%;
    margin: 2px;
    margin-top: 1%;
    display: flex;
    flex-flow: column wrap;
}

.input-panel {
    border: none !important;
    float: left;
    width: 95%;
    height: 9%;
    margin: 0px;
    bottom: 2%;
}

.history-panel {
    display: none;
}

.history-phone-mode {
    position: relative;
    display: block;
    align: center;
    float: left;
    padding: 5px 5px;
    margin-right: 10px;
    margin-top: 1%;
    text-align: center;
    background-color: white;
}

.message-input {
    width: 100%;
    align: center;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

.search-bar {
    width: 90%;
    align: center;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

.message-input:focus,
.search-bar:focus,
.send-btn:focus{
    outline: none;
}

.message-input-panel {
    margin: 0px;
    padding: 1%;
    position: relative;
    display: block;
    float: left;
    width: 85%;
}

.send-btn {
    position: relative;
    display: block;
    align: center;
    float: right;
    padding: 5px 5px;
    margin-right: 10px;
    margin-top: 1%;
    text-align: center;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

.send-btn-panel {
    float: right;
    width: 10%;
}

.send-btn:hover {
    background-color: #e6e6e6;
    opacity: 0.7;
    transition: 0.3s;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.firstname-header {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 8px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

@media only screen and (min-width: 767px) {
    .history-panel {
        display: block;
        background-color: #333;
        float: right;
        width: 40%;
        height: 89%;
        margin: 0px;
        margin-top: 2%;
    }



    .input-panel {
        border: none !important;
        float: left;
        width: 100%;
        height: 9%;
        margin: 0px;
        position: absolute;
        bottom: 2%;

    }

    .chat-panel {
        width: 58%;
        margin: 0px;
        margin-top: 2%;
        position: relative;
    }

    .search-bar {
        margin-left: 5%;
    }

    .show-history {
        background-color: white;
        box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
        align: center;
        position: relative;
        width: 90%;
        height: 80%;
        margin: 0px;
        border-radius: 5px;
        margin-left: 5%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .history-phone-mode {
        display: none;
    }
}






























































/*new css on pc*/


/*
the navbar at the top
*/
ul {
  color: white;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
    float: left;
}

li a {
    margin: 8px;
    color: white;
    display: block;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.firstname-header {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
}


/*the wrapper
everything in the middle
*/
.wrapper {
    grid:
        'chat-panel' 71px
        'input-panel' 78px
        / 275px 1fr;
}

/*
the chat messages
*/
.chat-panel {
    background-color: white;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 3%;
    /*height: 450px;*/
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: column wrap;
}

.grid {

    display: grid;
    grid: auto / auto;
}

.left {
    float: left;
}

.client-side-chat {
    padding: 6px;
    color: white;
    background-color: #00cc00;
    float: right;
    border-radius: 10px 10px 0px 10px;
}

.server-side-chat {
    padding: 6px;
    color: white;
    background-color: #333;
    float: left;
    border-radius: 10px 10px 10px 0px;
}



/*input panel
the text bar and the button
*/
.input-panel {
    bottom: 1%;
    width: 94%;
    position: absolute;
}

/*input button panel
the panel for the button
*/
.send-btn-panel {
    float: right;
    width: 15%;
    margin: 0px;
    padding: 1%;
    text-align: center;
}

/*input button
the button itself
*/
.send-btn {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

.send-btn:hover {
    background-color: #e6e6e6;
    opacity: 0.7;
    transition: 0.3s;
}

/*
message input panel
the panel for the message bar
*/

.message-input-panel {
    margin: 0px;
    padding: 1%;
    float: left;
    width: 85%;
}

/*
message input
the message bar itself
*/

.message-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

.message-input:focus,
.search-bar:focus,
.send-btn:focus{
    outline: none;
}




